body {
    font-family: sans-serif;
    vertical-align: auto;
    margin: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 3px solid steelblue;
}

#itens {
    display: flex;
    text-align: left;
    align-content: flex-end;
    align-items: center;
}

h3 {
    text-align: left;
    margin-right: 20px;
    align-content: flex-end;
}

#menu {
    text-align: right;
}

a {
    padding: 10px;
    cursor: pointer;
}

a:hover {
    border: 1.5px dotted lightgray;
}

img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 0.7;
}

img:hover {
    border: 1px solid lightgray;
    opacity: 1;
}

#corpo {
    margin-top: 30px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.um {
    background-color: lightpink;
    flex: 1 1 300px;
}

.dois {
    background-color: lightyellow;
    flex: 1 1 300px;
}

.tres {
    background-color: lightsalmon;
    flex: 1 1 300px;
}